<div class="form-wrp">
	<div class="form login">
       <% if @error %>
          <div class="form-error">
            <%= @error %>
          </div>
        <% end %>
		
		<p>テストユーザー：test/test</p>
		<%= form_with model: @user, local: true do |form| %>
		  <%= form.label :email, 'メールアドレス' %>
		  <%= form.text_field :email %>
		  <%= form.label :password, 'パスワード' %>
		  <%= form.password_field :password %>
		  <%= form.submit "ログイン" %>
		<% end %>

	</div>
</div>