<div class="form-wrp">
	<div class="form signup">

        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <!-- 画像をattach -->
		<%= form_with model: @user, url: users_path,local: true do |form| %>
		  <%= form.label :name, 'ユーザー名' %>
		  <%= form.text_field :name %>
		  <%= form.label :email, 'メールアドレス' %>
		  <%= form.text_field :email %>
		  <%= form.label :image, 'プロフィール画像' %>
		  <%= form.file_field :image %>
		  <%= form.label :password, 'パスワード' %>
		  <%= form.password_field :password %>
		  <%= form.submit "新規登録" %>
		<% end %>
	</div>
</div>

