<!-- timeline -->
<div id="message"></div>
<div class="timeline-wrp">
	<% @posts.each do |post| %>
		<div class="timeline-item" id='<%= post.id %>'>
			<div class="timeline-item-img">
				<img src="<%= "/user_images/#{post.user.image_name}" %>">
			</div>
			<div class="timeline-item-content">
				<div class="us-name">
					<%= link_to(post.user.name, "/users/#{post.user.id}") %>
				</div>
				<% if @current_user == nil || @current_user.id != post.user.id %>
					<p><%= post.content %></p>
				<% elsif @current_user.id == post.user.id %>
					<p><%= post.content %></p>
					<%= link_to "/posts/#{post.id}/destroy", :method => :post, :remote => true, :class => "post-delete", data: { confirm: '本当に削除して良いですか？' } do %>
					  削除 <i class="fas fa-trash-alt"></i>
					<% end %>
					<%= link_to "/posts/#{post.id}/edit", :method => :get, :remote => true, :class => "post-edit" do %>
					 	編集 <i class="fas fa-edit"></i>
					<% end %>
				<% end %> 
			</div>
		</div>
	<% end %>
</div>
<% if @current_user != nil %>
	<div class="new-post-window">
		<i class="fas fa-feather fa-2x" id='openModal'></i>
	</div>

	<!-- モダールエリア -->
	<section id="modalArea" class="modalArea">
	  <div id="modalBg" class="modalBg"></div>
	  <div class="modalWrapper">
	    <div class="modalContents">
			<%= form_tag("/posts/create") do %>
				<div class="form-wrp form-for-index">
					<div class="form newpost">
						<textarea name="content"></textarea>
						<input type="submit" value="投稿">
					</div>
				</div>
			<% end %>
	    </div>
	    <div id="closeModal" class="closeModal">
	      ×
	    </div>
	  </div>
	</section>
<% end %>