<!-- timeline -->
<div class="timeline-wrp">
	<% @posts.each do |post| %>
		<div class="timeline-item">
			<div class="timeline-item-img">
				<img src="<%= "/user_images/#{post.user.image_name}" %>">
			</div>
			<div class="timeline-item-content">
				<div class="us-name">
					<%= link_to(post.user.name, "/users/#{post.user.id}") %>
				</div>
				<% if @current_user == nil || @current_user.id != post.user.id %>
					<p><%= post.content %></p>

				<% elsif @current_user.id == post.user.id %>
					<p><%= post.content %></p>
					<%= link_to "/posts/#{post.id}/destroy", :method => :post, :class => "post-delete", data: { confirm: '本当に削除して良いですか？' } do %>
					  削除 <i class="fas fa-trash-alt"></i>
					<% end %>
					<a class="post-edit" href="<%= "/posts/#{post.id}/edit" %>">編集 <i class="fas fa-edit"></i></a>
				<% end %> 
			</div>
		</div>
	<% end %>
</div>